@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url("https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Lexend+Deca:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap");

/*
Lexend Deca
Rock Salt
Noto Sans
(Cherry Cream Soda)
*/

:root {
  --prime: #000;
  --second: #fefae0;
  --accent: #415a77;
  --alert: #fca311;
}

::selection {
  color: var(--prime); /* TODO: better colors */
  background: var(--alert);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  color: var(--prime);
  background-color: var(--second);
  font-family: "Noto Sans", sans-serif;
}

/*main styling*/

h1 {
  display: inline-block;
  background-color: var(--accent);
  color: var(--second);
  padding: 2rem;
  width: 100%;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
}

main {
  margin: 2rem;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

form input {
  border: none;
  outline: none;
  background-color: var(--accent);
  color: var(--second);
  font-size: 1.2rem;
  border-radius: 3rem;
  padding: 0.5rem 1.4rem;
  height: 3rem;
  width: 20rem;
}

form button {
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 1.4rem;
  background-color: var(--accent);
  color: var(--second);
  border-radius: 3rem;
  height: 3rem;
  width: 7rem;
  text-align: center;
}

form button:hover {
  text-decoration: underline;
}

#weather {
  margin-top: 1rem;
}

.city-temp {
  text-align: center;
  font-size: 3rem;
  font-family: "Lexend Deca", sans-serif;
}

#fullplace,
#coords {
  text-align: center;
  margin: 1rem;
}

#fullplace {
  font-style: italic;
}

h3 {
  font-size: 2rem;
  margin: 1rem 1rem 1rem 0;
  font-family: "Lexend Deca", sans-serif;
}

#alerts > * {
  background-color: var(--alert);
  padding: 1rem;
}

.table-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 50%;
}

table td,
table th {
  padding: 0.5rem;
  border: solid 0.2rem var(--accent);
}

table th {
  background-color: var(--accent);
  color: var(--second);
  width: 25%;
}

table td {
  text-align: center;
  width: 25%;
}

table td > p {
  display: inline-block;
}
